:root {
    --color-primario: #349ca3;
    --acento: #e663ad;
    --spacing-minimun: 15px;
    --bc: #ececec;
    --background-secundario: #222233;
}

body {
    background: var(--background-secundario);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Fuente para el body */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}

.main-header {
    background-color: var(--bc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primario);
    padding: 25px;    
    grid-area: header;
}

.main-nav__list {
    list-style: none;
    display: flex;
    gap: 25px
    
}
.main-nav__link {
    text-decoration: none;
    color: var(--color-primario);
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;

    &:hover {
        transform: scale(1.5);
        border: 1px solid var(--color-primario);
        border-radius: 25px;
        padding: 10px;
    }
}

.main-header-btn {
    margin-right: 10px;
    padding: 5px;
    background-color: transparent; 
    color: var(--acento);
    font-size: 0.7rem;
    letter-spacing: 1px;
    border: 1px solid var(--acento);
    border-radius: 5px;
    transition: transform 0.3s ease;

    &:hover {
        background-color: var(--color-primario);
        color: var(--bc);  
        transform: scale(1.1);
        border: 1px solid var(--color-primario);
    }
}


.hero {
    margin-top: 10px;
    background: linear-gradient(#349ca3, transparent);
    height: 500px;
    width: 100%;
    text-align: center;
    color: var(--bc);  
}

.hero__title {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
}

.hero__description {
    font-size: 1.2rem;
    color: var(--bc);
    margin-top: 15px;
    line-height: 1.5;
    padding: 20px;
    text-transform: capitalize;
}

.fond-form {
    display: flex;  
    justify-content: center;
    background: linear-gradient(#349ca3, transparent);
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.fond-form form {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the button and input */
}

.hero__search-btn {
    background: transparent;
    color: var(--acento);
    border: 2px solid var(--bc);    
    border-radius: 5px;
    padding: 8px; /* Added padding for better size */
    display: flex; /* Helps center the SVG icon inside */
    &:hover {
        background-color: var(--acento);
        color: var(--bc);
        transform: scale(1.1);
    }
}

.hero__search-input {
    border: none;
    padding:10px 25px;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(var(--bc), var(--color-primario));
    color: var(--background-secundario); /* Cambiado a un color más oscuro para el texto */
    font-size: 1rem;
}

main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: var(--bc);
    background-color: var(--color-primario);
}

.container {
    padding: 20px;
    margin: 10px auto 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.container h2 { /* Estilos para el título dentro del contenedor */
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
    color: var(--bc);
}

.card {
    background: linear-gradient(#ececec, transparent);
    padding: 20px;
    margin: 10 auto 0 auto;
    border-radius: 10px;
    color: var(--background-secundario);
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   ;
    text-align: center;
}

.card__link {
    color: var(--acento);
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }

    .hero {
        height: auto; /* Altura automática para el hero en móviles */
        padding-bottom: 20px;
    }

    .fond-form {
        width: 90%; /* Aumentar el ancho del formulario en móviles */
    }
}